<p> Hello {{ name | lowercase }}! </p>
<p> Hello {{ getName() }}! </p>
<p> {{ 15 + 3 }}</p>
<app-post [img]="imgURL" (imgSelected)="logImg($event)">
  <p>Hello would</p>
</app-post>

<p>
  {{ date | date: 'shortTime' }}
</p>

<p> {{ cost | currency: 'JPY' }}</p>

<p> {{ temperater | number: '1.4-7' }}</p>

<pre> {{ pizza | json }}</pre>

<div *ngIf="courses.length > 0 ; else noCourses">
  List of courses {{ courses }}
</div>

<ng-template #noCourses>
  No Courses yet
</ng-template>


<div [hidden]="courses.length == 0">
  List Huy Đỗ
</div>

<div [hidden]="courses.length > 0">
  List No Huy Đỗ
</div>


<ul class="nav nav-pills">
  <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map Views</a></li>
  <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">Views Map</a></li>
</ul>

<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Other</div>
</div>
<ul>
  <li *ngFor="let student of students ; index as i">
    {{ student.id }} - {{ student.name }}
  </li>
</ul>
<ul>
  <li *ngFor="let student of students">
    {{ student.name }}
    <button (click)="doRemove(student)">Remove Student</button>
    <!-- <span *ngIf="isLast">(last)</span> -->
  </li>
</ul>
<button (click)="onAdd()">Add</button>

